/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-weight: 400 720;
  src: url("./Inter-Variable.woff2") format("woff2 supports variations"),
    url("./Inter-Variable.woff2") format("woff2-variations"),
    local("Inter-Variable");
}

@font-face {
  font-display: swap;
  font-family: "Press Start 2P";
  font-weight: normal;
  src: url("./PressStart2P-Regular.woff") format("woff"),
    local("PressStart2P-Regular");
}