/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* импортирую стили*/
@import url(./header.css);
@import url(./buttons.css);
@import url(./dialog.css);


@supports (-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff) {
  .card-img-tag {
    /* color: transparent; */
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px 0 #fff;
  }
}

@supports (font-variation-settings: normal) {
  .page {
    font-variation-settings: "wght" var(--main-font-weight, 410);
  }

  .card__container-title {
    font-variation-settings: 'wght' var(--title-font-weight, 715);
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-weight: var(--main-font-weight, 410);
  background-image: var(--gradient-bg);
  background-size: cover;
  background-attachment: fixed;
  font-size: 18px;
}

.container {
  max-inline-size: var(--container-width);
  margin: 0 auto;
}

.main {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 50px;
  padding-block-start: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;

}

.card__container-title {
  display: flex;
  align-items: center;
  /* min-height: 30px; */
  padding: 6px 10px;
  background-color: #fff;
}

.card__title {
  font-family: var(--main-font);
  font-weight: var(--title-font-weight);
  font-size: 18px;
  line-height: 1;


}

.card__container-img {
  /* height: 100%; */
  position: relative;
}

.card-img {
  aspect-ratio: 1 / 1;
  width: clamp(371px, 100%, 696px);
  display: block;
  object-fit: cover;
  object-position: top right;
  inline-size: 100%;
}

.card-img-tag {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.card__container-footer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
  padding-inline: 27px;
  background-color: #fff;
  border-top: 2px solid var(--contour-color)
}

.card__text {
  font-weight: var(--main-font-weight);
  line-height: 21px;
}

.sepia {
  filter: sepia(80%);
}

.saturate {
  filter: saturate(300%);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.invert {
  filter: invert(0.7);
}

.grayscale {
  filter: grayscale(0.8);
}

.blur {
  filter: blur(0.7em);
}

.contrast {
  filter: contrast(50%) hue-rotate(80deg);
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear 0s;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear 0s;
}

floppy-icon {
  align-self: center;
  width: 22px;
  height: 21px;
  mix-blend-mode: normal;
}

@media (width <=375px) {

  .card__footer {
    padding-top: 27px;
  }

  .card__container-title {
    padding: 6.5px 10px;
  }

  .card__container-img {
    height: 371px;
  }

  .card__container-footer {
    padding: 25px;
    gap: 25px;
    padding-inline: 25px;
  }

  .button {
    gap: 11px;
    flex-direction: column;
  }

  /* .save-button {
    margin: 20px auto 0;
    padding: 12px 18px;
  } */

  .dialog__wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}